@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form action="/bind/index" method="post">
    <input name="id" value="7" />
    <input name="ids" value="71" />
    <input name="ids" value="72" />
    <input name="ids" value="73" />
    <input name="name" value="张三" />
    <input type="submit" value="提交" />
</form>
